<h4>Terms of Service</h4>

<p>Private.</p>

<p>Blocks all interaction with fascist, libertarian, misogynist, transphobic, homophobic, racist, ableist, classist, paedophile (including lolicon/shotacon), spam or mass follow, harassing, bigoted, conspiracy theorist, data aggregator, advertiser, and other asshole instances.</p>

<p><a href="https://labo.emelyne.eu/oniricorpe/pleroma_config">Custom files (config files, themes, emojis, etc.) and their licence.</a></p>

<hr>

<p>Instance privée.</p>

<p>Je défédère avec les instances fascistes, libertariennes, misogynes, transphobes, homophobes, racistes, validistes, classistes, pédophiles (incluant lolicon/shotacon), qui spamment ou suivent en masse, harcèlent, de bigots, de complotistes, d’agrégateurs de données, publicitaires, et autres trous du cul.</p>

<p><a href="https://labo.emelyne.eu/oniricorpe/pleroma_config">Fichiers personnalisés (configurations, thèmes, emojis, etc.) et leur licence.</a></p>

<img src="/emoji/custom/anartrans.png" style="display: block; margin: auto; max-width: 100%; height: 50px; object-fit: contain;" />
